.projectBasicData {
    div {
        border-left: 1px solid #c9c9c9;
        flex: 1;
        padding: 0;
        img {
            width: 32px;
            height: 32px;
            opacity: 0.85;
            padding: 4px;
        }
    }

}