.taskItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #f3f3f3;
}

.taskItemDone {
    background-color: #9cb999;
}

.taskStatusButton {
    height: 30px;
    width: 30px;
    /* padding-top: 100%; */
    background-color: #f3f3f3;
    border-radius: 4px;
    border: 1px solid #666;
}

.taskSaveButton {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #666;
}

.taskSaveButton:hover {
    cursor: pointer;
}

.taskStatusButton:hover {
    cursor: pointer;
}

.taskIconButton {
    height: 30px;
    width: 30px !important;
}
.taskIconButton:hover {
    cursor: pointer;
}

.taskItemIcon {
    display: block;
    margin: auto;
    width: auto%;
    height: 100%;
    padding: 2px;
}