* {
  word-break: break-word;
}

header, footer {
  background-color: #3c4469;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  flex-wrap: wrap
}

#headerLogo {
  display: block;
  height: 36px;
  width: auto;
  margin: 12px 0px;
  margin-left: 8px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

header ul>li {
  margin: 0px 8px;
}

footer {
  padding: 4px;
}

.githubLogo {
  height: 32px;
  margin: 2px 16px;
}

#footerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.welcomeText {
  font-weight: 200;
  font-size: 0.9rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.landingPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.projectButton {
  background-color: #f3f3f3;
  box-shadow: 0px 0px 2px 0px rgb(177, 177, 177);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 8px;
  margin: 8px;

}

.projectLegend {
  font-size: 0.9rem;
  opacity: 0.6;
}

.projectLegend p {
  padding: 0px !important; 
}

.projectLegend p {
  font-weight: 100 !important; 
}

/* PROJECT ITEM STYLE */

.itemIsTodo {
  background-color: #c26a6aab;
}
.itemIsDone{
  background-color: #9cb999bb;
}

.addProjectButton {
  min-height: 100px;
  width: 70%;
  margin: 20px auto;
}

.projectBasicData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 100;
  
}

.projectBasicData * {
  font-weight: 100;
  padding: 6px;
}

.projectBasicData p:first-child {
  font-weight: 600;
}

.borderLeft {
  border-left: 1px solid #333;
}

.link {
  text-decoration: none;
  color: inherit
}

@keyframes loader {
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(359deg);
}
}

.loader {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: loader 2s infinite linear;

}

.loaderMain {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

}

.headerIcon {
  display: inline-block;
  width: 36px;
  height: auto;
  padding: 6px;
}

.headerIcon:hover {
  background-color: #50587c;
  cursor: pointer;
  border-radius: 3px;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(22, 22, 22, 0.5);
  z-index: 99;
  padding: auto;
}



.headerButton {
  margin: 4px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 16px;
}

.headerButton:hover {
  cursor: pointer;
}

.homePage {
  display: flex;
  min-height: 100%;
  height: 100%;
  flex: auto;
  border: 1px dotted blue;
}

.signupContainer {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  background-color: #d8d8d8;
  margin: 0px auto;
  min-height: 100%;
  flex: auto;
  box-shadow: 0px 0px 4px 0px rgb(177, 177, 177);
  align-items: center;
}

.hover:hover {
  cursor: pointer;
}

.addButton {
  min-height: 100px;
  margin-top: 8px;
  background-color: #373f61;
  width: 100%;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.navActive {
  border-bottom: 3px solid white;
}

.logoutButton {
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  padding: 8px;
}

.nullListMessage {
  text-align: center;
  color: #373f61;
  font-weight: 200;
  margin-top: 20vh;
  padding: 50px;  
}

.newTask {
  /* min-height: 100px; */
  margin-top: 8px;
  background-color: #373f61;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: 200;
  flex-wrap: wrap;
}

.newTask>* {
  margin: 4px !important;
}

.newTask input {
  border-radius: 4px;
  border: none;
  padding: 8px;
  flex: 6;
}

.newTask button {
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  padding: 8px;
  background: none;
  color: #f3f3f3;
  font-size: 1rem;
}

.editableText:hover {
  border: 1px dotted grey;
  border-radius: 4px;
}

.editableText {
  display: flex;
}

/* PROJECT PAGE STYLING */

.projectWindow {
  padding: 30px;
  max-width: 1168px;
  margin: 0px auto;
  background-color: #dadde7;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  margin: 16px 0px;
}

.projectHeader>*{
  padding: 4px;
}

.projectHeader h2 {
  font-weight: 200;
  font-size: 2em;
}

.projectHeader2 {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.statusButton {
  border: 1px solid #373f61;
  border-radius: 4px;
  text-align: center;
  flex: 1;
  margin: 0px 4px;
  font-size: 0.9rem;
}

.projectHR {
  border: none;
  border-top: 1px solid #373f61;
  margin: 24px 0px;
}

.projectTextContainer {
  padding: 8px;
}

/* PROJECT PARTICIPANT ITEM */

.participantContainer {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  /* test */
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
}

.participantBasic {
  display: flex;
}

.participantDetails {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.participantDetails:hover {
  cursor: default
}

.participantDetailsMobile {
  display: none;
}

.projectpageAddButton {
  height: 42px;
  border: none;
  margin-top: 8px;
  background-color: #373f61;
  width: 100%;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  color: #f3f3f3;
  display: flex;
  align-items: center;
}

.projectPageAddContentButton {
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  padding: 4px;
  background: none;
  color: #f3f3f3;
  font-size: 0.8rem;
  margin-left: 4px;
}


.participantInput {
  flex: 2;
  border: 1px solid #373f61;
  /* border: 1px solid #7c494d; */
  border-radius: 4px;
  margin: 0px 1px;
  padding: 4px;
}

/* PROJECT TASK ITEM  */
 .projectTaskContainer {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
 }

 /* PROJECT COMMENT */

 .projectCommentContainer {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
  flex-direction: column;
  width: 100%;
 }

 .projectCommentHeader {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;

 }

  .projectCommentHeader div:first-child {
    display: flex;
    align-items: center;
  }


 .commentDate {
   font-weight: 100;
   font-style: italic;
   font-size: 0.9rem;
   color: #888;
   flex: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .commentAuthor {
  font-weight: 100;
  font-size: 0.9rem;
 }

 .commentContent {
   width: 100%;
   text-align: justify;
   padding: 8px;
 }

 .commentDeleteIcon {
    display: block; 
    height: 12px;
    width: auto;
 }

.projectCommentInput {
  resize: none;
  width: 100%;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 8px;
}

.projectHeaderInput {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #373f61;
  flex: 5;
}

.projectHeaderButton {
  padding: 5px 24px;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  background-color:#373f61;
  color: #f3f3f3;
  flex: 1;
}

.projectHeaderForm {
  display: flex;
  width: 100%;
  margin: 8px 0px;
}

.projectEditParticipantButton {
  flex: 1;
  color: #373f61;
  border: 1px solid #373f61;
  text-align: center
}

.emptyListMessage {
  font-weight: 200;
  font-size: 1.1rem;
  color: #373f61;
  width: 100%;
  text-align: center;
  margin: 24px 0px;
}


/* USER PAGE */
.pencilVisible {
  display: inline-block !important;
}

.userpagePar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.userSettingsWindow {
  width: 60%;
  height: 100%;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(197, 197, 197);
  padding: 10px;
  text-align: center;
  margin: 0px auto;
  margin-top: 16px;
  padding-bottom: 32px;
  border-radius: 4px;
}

.userSettingsWindow * {
  text-align: center
}

.addContentButtonDark {
  border-radius: 4px;
  border: 1px solid #373f61;
  padding: 4px;
  background: #373f61;
  color: #f3f3f3;
  font-size: 0.8rem;
  margin: 0px 2px;
}

.fullWidth {
  width: 70% !important;
}

.userDataContainer {
  margin: 16px 0px;
  width:100%;
}



.newProjectInput{
  /* min-height: 100px; */
  margin-top: 8px;
  background-color: #373f61;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: 200;
  flex-wrap: wrap;
}

.newProjectInput>* {
  margin: 4px !important;
}

.newProjectInput input {
  border-radius: 4px;
  border: none;
  padding: 8px;
  flex: 6;
}

.newProjectInput button {
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  padding: 8px;
  background: none;
  color: #f3f3f3;
  font-size: 1rem;
}

.editDeadline {
  border-radius: 4px;
  border: 1px solid #373f61;
  padding: 5px;
  text-align: center
}
/* 
.projectHeader h2 {
  margin-top: 32px;
} */


/* RESPONSIVE WEB DESIGN  */

.headerMenuIcon {
  width: auto;
  margin: 8px;
  padding: 4px;
  height: 32px;
  display: none;
}

@media only screen and (max-width: 600px) {
  /* #search-city {
    width: 100%;
    border-radius: 0px; 
  }*/
  header {
    position:fixed;
    top: 0;
    z-index: 99;
    width: 100vw;
  }

  main {
    margin-top: 58px;
  }

  .headerMenuContainer {
    display: flex;
    justify-content: flex-end;
  }
  .headerMenuContainer>ul {
    display: none;
  }
  .headerMenuIcon {
    display: block;
  }

  .headerMobileMenu {
    width: 100%;
    position: fixed;
    top: 48px;
    right: 0px;
    background-color: #282c3bda;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    font-weight: 200;
  }

  .navActive {
    background-color: #5d6277e5;
    border: none;
  }

  .headerMobileMenu .link {
    width: 100%;
  }

  .headerMobileMenu li {
    width: 100%;
    padding: 8px;
    margin: 0px;
    border-bottom: 1px solid #f3f3f3;
  }

  /* NEW PROJECT INPUT RWD */

  .addButton {
    border-radius: 0px;
    padding: 0px;
  }
  .newProjectInput{
    flex-direction: column;
    margin: 0px;
  }
  .newProjectInput * {
    width: 100%;
  }
  .newProjectInput>*{
    margin: 4px 0px !important;
  }

  .nullListMessage {
    font-size: 1.2rem;
  }

  .projectButton {
    flex-wrap: wrap;
    font-size: 0.9rem;
    margin: 8px;
  }

  .projectBasicData {

    flex-direction: column;

  }

  
  .projectBasicData>* {
    border-left: none !important;
    border-top: 1px solid #c9c9c9;
    padding: 4px 0px
  }

  .projectBasicData p:first-child {
    border-top: none !important
  }

/* PROJECT PAGE */

  .projectWindow {
    padding: 8px;
  }

  .projectHeader {
    flex-direction: column;
    height: initial;
  }
  .projectHeader * {
    width: 100%;
    margin: 4px 0px;
  }

  .projectpageAddButton {
    height: 100%;
  }

  .projectpageAddButton>form {
    flex-direction: column;
  }

  .projectpageAddButton>form>* {
    width: 100%;
    margin: 4px 0px;
  }

  .projectEditParticipantButton {
    display: none;
  }

  .participantBasic {
    flex-direction: column;
  }

  .participantBasic p:first-child {
    font-size: 0.9rem;
  }

  .participantDetails {
    display: none;
  }

  .participantDetailsMobile {
    display: flex;
    flex-direction: column;
  }
  .participantDetailsMobile>* {
    display: flex;
    flex-direction: column;
    margin: 4px 0px;
  }
  .participantDetailsMobile p:first-child{
    font-size: 0.9rem;
    font-weight: 200;
  }

  .participantDetailsMobile .projectEditParticipantButton {
    display: initial !important;
    margin: 4px 0px;
  }

  .participantContainer form {
    display: flex;
    flex-direction: column
  }

  .participantContainer form>* {
    width: 100%;
    margin: 4px 0px;
  }

  .projectTaskContainer * {
    transform: scale(0.9);
  }

  .projectCommentHeader * {
    font-size: 0.8rem;
  }

  .commentContent {
    font-size: 0.9rem;
  }

  .projectHeader h2 {
    font-size: 1.7rem;
  }

  .projectWindow h3 {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .newProjectInput button {
    font-size: 0.9rem;
    padding: 4px;
  }

  .taskItemBtn * {
    transform: scale(0.9)
  }

  .taskItemInput {
    display: flex;
    flex-direction: column !important;
  }
  .taskItemInput * {
    width: 100%;
    margin: 4px 0px;
  }

  .taskSaveButton {
    height: auto !important;
    font-size: 0.8rem;
    width: 50%;
    padding: 4px;
  }

  .taskSaveButton p {
    margin: 0px;
  }

  .userSettingsWindow {
    width: initial;
    margin: 8px;
    border-radius: 4px;
  }

  .userpagePar {
    background-color: #373f61;
    color: #f3f3f3;
    border-radius: 4px;
    padding: 4px;
    font-size: 0.9rem;
  }

  .userpagePar>button {
    border: 1px solid #f3f3f3;
  }

  .pencilVisible {
    display: none !important;
  }

  .newTask button {
    font-size: 0.9rem;
    padding: 4px;
  }

  .projectLegend {
    display: none;
  }

}


/* .participantDetails {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
} */
