header, footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: 90;
}

header ul {
  display: flex;
  list-style: none;
}

header li, p {
  padding: 4px;
}

main {
  width: 70vw;
  background-color: rgb(241, 241, 241);
  margin: 0px auto;
  height: 100%;
  flex: auto;
  box-shadow: 0px 0px 4px 0px rgb(177, 177, 177);
}

footer p {
  margin: auto;
}

.landingPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.projectButton {
  background-color: rgb(253, 253, 253);
  box-shadow: 0px 0px 2px 0px rgb(177, 177, 177);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 10px;
  color: rgb(124, 124, 124);
  padding: 8px;
}

.addProjectButton {
  min-height: 100px;
  width: 70%;
  margin: 20px auto;
}

.projectBasicData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.projectButton:hover {
  cursor: pointer;
}

.borderLeft {
  border-left: 1px solid #333;
}

.link {
  text-decoration: none;
  color: inherit
}

@keyframes loader {
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(359deg);
}
}

.loader {
  width: 100px;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  animation: loader 2s infinite linear;

}

.loaderMain {
  
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

}

.headerIcon {
  display: inline-block;
  width: 60px;
  height: 40px;
  padding: 6px;
}

.headerIcon:hover {
  background-color: rgb(78, 78, 78);
  cursor: pointer;
  border-radius: 3px;
}

.blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(22, 22, 22, 0.5);
  z-index: 99;
  overflow: scroll;
  padding: auto;
}

.projectWindow {
  position: absolute;
  top: 10%;
  left: 10%;

}